* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
*::selection {
  background: #000;
  color: white;
}
.Videos-News{
  display: flex;
  justify-content: space-around;
}
.News{
  flex-wrap: wrap;
  display: flex;
}
.Videos{
  padding: 50px 0px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Videos a {
  text-decoration: none;
  color: #000;
  transition: 0.5s;
}

.Videos-head-news {
  width: 400px;
  margin-bottom: 40px;
  overflow: hidden;
  height: 250px;
  position: relative;
  user-select: none;
}
.Videos-news-img {
  height: 100%;
  width: 100%;
  transition: 0.5s;
  object-fit: cover;
}
.Videos-News-title a{
  font-size: 16px;
  font-weight: bold;
  color: #51be78 !important;
}
.Videos-News-title a:hover {
  color: #449d63 !important;
}
.Videos-head-news:hover > .Videos-news-img {
  transform: scale(1.1);
}
.Videos-head-news:hover .dark {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
}
.dark {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: 0.5s;
}
.V-bottom-link:hover {
  color: #51be78;
}

.V-bottom-link{
  font-size: 1.3em;
  line-height: 40px;
}
.V-bottom-title a{
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 14px;
  font-weight: 500;
  color: #808080 !important;
}
.Videos-small{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  position: relative;
}
.News{
  display: flex;
  margin: 40px 0 ;
}
.Videos-small-news{
  width: 90px;
  height: 90px;
  position: relative;
  user-select: none;
  overflow: hidden;
}

.Videos-small-news:hover > .Videos-news-img{
  transform: scale(1.1);
}
.Videos-small-news:hover .dark {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3);
}
.Videos-small-material{
  display: flex;
  height: 100px;
  margin-bottom: 10px;
}
.Videos-small-info{
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  }
.Small-news{
  height: 100%;
  display: flex;
  width: 400px;
  flex-direction: column;
}
@media (max-width: 1024px) {
  
.Videos-small{
  margin-left: 0px;
}
}
.Video-player{
  overflow: hidden;
  width: 255px;
  background: #000;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
  transition: .5s;
}

.Video-player:hover{
  box-shadow: 0px 0px 5px #999;
}
.Video-player img{
  width: 100%;
  object-fit: cover; 
  height: 100%;
  background-size: cover;
}
.video-player-icon{
  cursor: pointer;
}
.players-box{
  margin-top: 40px;
}
.video-player-icon{
  color: white;
  box-sizing: content-box;
  position: absolute;
  padding: 10px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
  border-radius: 50%  ;
}
.Video-modal{
  display: flex;
  align-items: center;
  justify-content: center;
}
.Cres{
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background: #222;
  z-index: 200;
  color: white;
}
.Videos-News-link h1{
  font-size: 2em;
  font-weight: 400;
}

.Videos-News-link a{
  color: #449d63;
  font-weight: 500;
}
@media (max-width: 500px){

.Small-news{
  width: 100% !important; 
} .V-bottom-title a{
  font-size: 12px !important;
}
.V-bottom-link{
  font-size: 1em;
}
}
@media (max-width: 1080px) {
    .Video-player{
      width: 700px;
      height: 500px;
    }   

.Videos-head-news {
  width: 700px;
  height: 400px;
}

.Videos{
  padding: 0 50px;
  justify-content: flex-start;
}
}
@media (max-width: 800px) {
  .Video-player{
    width: 100%;
    height: 50%;
  } 
.Videos-head-news {
  width: 100%;
  height: 200px;
}
}
@media (max-width: 420px) {
  
.Videos{
  padding: 0 30px;
}
.Videos-small-info .V-bottom-title a{
  font-size: 10px !important;
}
}
@media (max-width: 340px) {
  .V-bottom-title a{
    font-size: 12px !important
  }
  .V-bottom-link{
    font-size: 12px !important;
  }
}