* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.footer {
  line-height: 1.7;
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  width: 100%;
  /* color: gray; */
  text-align: left;
  background: #183661;
  padding: 4rem 0;
  /* font-size: 1rem; */
  font-size: 14px;
  /* font-weight: 200; */
  color: #ffffff;
  font-weight: 320;
  display: flex;
  justify-content: center;
}
.firstColumn {
  /* position: relative; */
  min-height: 1px;
  padding: 0 15px;
  /* padding-left: 40px; */
  width: 285px;
}
.secondColumn {
  /* position: relative; */
  min-height: 1px;
  padding: 0 15px;
  /* padding-right: 15px; */
  /* padding-left: 15px; */
  width: 285px;
}
.thirdColumn {
  /* position: relative; */
  padding: 0 15px;
  min-height: 1px;
  /* padding-right: 15px; */
  /* padding-left: 15px; */
  width: 285px;
}
.fourtColumn {
  /* position: relative; */
  padding: 0 15px;
  min-height: 1px;
  /* padding-right: 15px; */
  /* padding-left: 15px; */
  width: 285px;
}
.img-fluid {
  max-width: 100%;
  height: auto;
  padding-bottom: 17px;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  cursor: pointer;
  color: #51be78;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.footer a:hover {
  color: #fff;
  text-decoration: underline;
}

.row {
  /* padding-right: 15px; */
  /* padding-left: 15px; */
  width: 100%;
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
}

.list-unstyled li {
  list-style: none;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4rem;
}

.footer .footer-heading {
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 17px;
  border-bottom: 3px solid #fff;
  width: 94px;
  line-height: 1.4rem;
}
.footer .footer-heading-4 {
  width: 59px;
}

.footer .copyright {
  margin-top: 20px;
  color: #fff;
  padding-top: 7rem;
  text-align: center;
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 330;
  font-size: 15px;
}
.madeBy {
  width: 100%;
}
.heartIcon {
  font-size: 18px !important;
  text-align: center;
  justify-self: center;
}
.footerColOneText {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", Arial, Helvetica,
    sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.4rem;
}
.LearnMore{
  font-size: 15px;
}
@media (min-width: 1200px) {
  .madeBy {
    max-width: 1140px;
  }
}

@media screen and (max-width: 730px) {
  .footer .footer-heading {
    font-size: 16px;
    color: #fff;
    margin-bottom: 20px;
    font-weight: 420;
  }
  .firstColumn,
  .secondColumn {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 40%;
    padding-bottom: 5%;
  }
  .thirdColumn,
  .fourtColumn {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 40%;
    padding-bottom: 5%;
  }

  .row {
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 560px) {
  .footer .footer-heading {
    font-size: 16px;
    color: #fff;
    margin-bottom: 10px;
    font-weight: 420;
  }
  .firstColumn,
  .secondColumn {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    padding-bottom: 5%;
  }
  .thirdColumn,
  .fourtColumn {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 70%;
    padding-bottom: 5%;
  }

  .row {
    padding-right: 7%;
    padding-left: 10%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }

  .footer .copyright {
    color: #fff;
    padding-top: 5rem;
    text-align: center;
  }
  .madeBy {
    width: 100%;
  }
  .heartIcon {
    font-size: 18px !important;
    text-align: center;
    justify-self: center;
  }
  .footerPrgr {
    font-size: 13px;
  }
}
