* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;1,300&display=swap");

.courseDetails {
  position: relative;
  display: flex !important;
  margin-left: 17px !important;
  padding: 40px 0;
  box-sizing: border-box;
}
.modalContainer {
  background-color: #fff;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-wrap: wrap;
  overflow: scroll;
  padding: 0px 0;
}
.CoursesaddHeaderTit1 {
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  padding: 0 40px !important;
  justify-content: flex-end;
  width: calc(100% - 100px);
}
.courseTeacher {
  color: #000 !important;
  font-weight: 400 !important;
  margin-bottom: 4px !important;
}

.CoursesMtitle {
  font-size: 30px !important ;
  display: inline-block;
}
.courseTime {
  display: flex !important;
  flex-direction: column !important;
  font-size: 17px !important;
  font-weight: 300 !important;
  color: #777 !important;
  margin-bottom: 50px !important;
}
.MaddTit {
  font-size: 1.1rem !important;
  color: #888 !important;
  margin-top: 25px !important;
  font-weight: 200 !important;
  width: 100%;
  min-height: 100px;
}
.Mul-check {
  margin-bottom: 3rem !important;
  padding-left: 0;
  margin-top: 0;
  display: block;
}
.checkTitleCourse {
  margin: 0;
}
.course-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}
.MaddFlex {
  position: relative;
  list-style: none;
  line-height: 1.5;
  align-items: center;
  display: flex;
  margin-bottom: 10px;
  font-size: 1.1rem !important;
  color: #777 !important;
  font-weight: 300 !important;
  letter-spacing: -0.1px;
}
.McheckIcon {
  color: #51be78;
  font-size: 1.3rem !important;
  margin-right: 15px !important;
  margin: 0;
}

.enrollButton {
  margin-top: 0;
  margin-bottom: 1rem;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.enrollPrimary {
  padding: 0.5rem 3rem;
  font-size: 1.25rem;
  color: #fff;
  background-color: #51be78;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  transition: background-color 0.5s !important;
}
.enrollPrimary:hover {
  background: #2ca24f;
}
@media screen and (max-width: 1200px) {
  .courseDetails {
    width: 100%;
  }
  .MaddTit {
    width: 370px;
    margin: 0 0 16px !important;
    margin-top: 25px !important;
  }
  .courseTime {
    margin-bottom: 35px !important;
    width: 370px !important;
  }
  .enrollButton {
    margin-top: -15px !important;
    margin-bottom: 65px !important;
  }
}
.mediaImage {
  object-fit: cover;
}
@media screen and (max-width: 992px) {
  .mediaImage {
    object-fit: contain;
    padding: 0 10px;
  }
  .courseDetails {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }
  .modalContainer {
    display: flex;
  }
}
.MaddTit {
  width: 690px !important;
  margin-top: 25px !important;
}
@media screen and (max-width: 768px) {
  .courseDetails {
    margin: 0px !important;
    display: flex !important;
    align-items: center !important;
  }
  .MaddTit {
    width: 510px !important;
    margin-top: 25px !important;
  }
}
@media screen and (max-width: 576px) {
  .courseDetails {
    padding: 0 15px !important;
  }
  .Coursesadminimg {
    display: flex;
    height: 100%;
    width: calc(100% - 50px) !important;
    align-items: center;
  }

  .MaddTit {
    width: 100% !important;
    margin-top: 25px !important;
  }
  .enrollButton {
    margin-bottom: 0 !important;
  }
}
