

.carouselMainContainer {
    height: 100%;
    width: 100%;
    display: flex !important;
    justify-content: center !important;
    align-items: center;
    }
  .caruselTitle{
  display: flex;
  align-content: center;
  position: absolute;
  font-size: 7rem;
  font-weight: bold;
  justify-content: center;
  text-transform: capitalize;
  top: 220px;
  color: white;
  }
  .carH3 {
    text-align: center;
    width: 75%;
    color: white;
  }
  .caruselImg{
    filter: brightness(50%);
    height: 850px;
    width: 100%;
  }
  
  
  @media screen and (max-width: 1290px) {
    .caruselTitle{
      display: flex;
      align-content: center;
      position: absolute;
      font-size: 5rem;
      font-weight: bold;
      justify-content: center;
      text-transform: capitalize;
      top: 180px;
      color: white;
      }
    .carH3 {
      text-align: center;
      width: 75%;
      color: white;
    }
    .caruselImg{
      filter: brightness(50%);
      height: 650px;
      width: 100%;
    }
  }
  
  @media screen and (max-width: 950px) {
    .caruselTitle{
      display: flex;
      align-content: center;
      position: absolute;
      font-size: 3rem;
      font-weight: bold;
      justify-content: center;
      text-transform: capitalize;
      top: 180px;
      color: white;
      }
    .carH3 {
      text-align: center;
      width: 75%;
      color: white;
    }
    .caruselImg{
      filter: brightness(50%);
      height: 500px;
      width: 100%;
    }
  }
  