* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.course-section {
  display: block;
}
.course-row {
  margin-bottom: 1.5rem !important;
  width: 100%;
  min-height: 1px;
  padding: 0 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.course-info-container {
  display: block;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 5%;
  margin-top: 5%;
}
@media screen and (max-width: 1240px) {
  .course-row {
    padding-right: 55px;
    padding-left: 55px;
  }
}
@media screen and (max-width: 1220px) {
  .course-row {
    padding: 0 45px;
  }
}
@media screen and (max-width: 1055px) {
  .course-row {
    padding: 0 40px;
  }
  .card-container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: -100px;
    margin-top: 2.5rem;
    position: relative;
  }
}
@media screen and (max-width: 955px) {
  .course-row {
    padding: 0 35px;
  }
}
@media screen and (max-width: 810px) {
  .course-row {
    padding: 0 30px;
  }
}
@media screen and (max-width: 790px) {
  .course-row {
    padding: 0 30px;
  }
}
@media screen and (max-width: 700px) {
  .course-row {
    padding: 0 40px;
  }
}

@media screen and (max-width: 500px) {
  .course-row {
    padding: 0;
  }
}
