.CustomBreadCrumns {
  border-bottom: 1px solid rgb(221, 218, 218);
  padding: 2% 9%;
}

.MiddleImgContainer {
  display: flex;
  align-content: center;
  align-items: center;
}

.HomeText {
  font-size: 15px;
  color: #bdbdbd !important;
  text-decoration: none !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, Arial,
    Helvetica, sans-serif;
  font-weight: 100;
}
.HomeText:hover {
  color: #51be78 !important;
}

.middleMenuIcon {
  color: rgb(146, 141, 141);
  font-size: 15px !important;
  margin: 0% 2%;
}
.PathOfAbout {
  font-size: 15px;
  color: #51be78;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif, Arial, sans-serif;
  font-weight: 100;
}
