
* {
  margin: 0;
  padding: 0;
}

.caruselTitle {
  display: flex;
  align-content: center;
  position: absolute;
  font-size: 6rem;
  justify-content: center;
  text-transform: capitalize;
  top: 200px;
  color: white;
}
.carH3 {
  text-align: center;
  width: 75%;
  font-weight: 900;
  color: white;
}

@media screen and (max-width: 1290px) {
  .caruselTitle {
    display: flex;
    align-content: center;
    position: absolute;
    font-size: 5rem;
    font-weight: bold;
    justify-content: center;
    text-transform: capitalize;
    top: 200px;
    color: white;
  }
  .carH3 {
    text-align: center;
    width: 75%;
    color: white;
  }
  .caruselImg {
    filter: brightness(50%);
    height: 650px;
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .caruselTitle {
    display: flex;
    align-content: center;
    position: absolute;
    font-size: 4rem;
    font-weight: bold;
    justify-content: center;
    text-transform: capitalize;
    top: 240px;
    color: white;
  }
  .carH3 {
    text-align: center;
    width: 75%;
    color: white;
  }
  .caruselImg {
    filter: brightness(50%);
    height: 500px;
    width: 100%;
  }
}

@media screen and (max-width: 610px) {
  .caruselTitle {
    display: flex;
    align-content: center;
    position: absolute;
    font-size: 2.8rem;
    font-weight: bold;
    justify-content: center;
    text-transform: capitalize;
    top: 200px;
    color: white;
  }
  .carH3 {
    text-align: center;
    width: 75%;
    color: white;
  }
  .caruselImg {
    filter: brightness(50%);
    height: 500px;
    width: 100%;
  }
}
/* Staff Part */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.StaffMainContainer {
  background: #ffffff;
  padding: 2.5em;
  width: 100%;
  padding-left: 8%;
  padding-right: 8%;
}

.staffheader {
  font-size: 2rem;
  display: inline-block;
  border-bottom: 4px solid #51be78;
  color: #000;
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 58px;
  padding-top: 45px;
  margin-left: 1%;
}
.staffName {
  font-size: 1.2rem;
  display: block;
  margin-bottom: 0;
  color: #000;
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  user-select: none;
  font-weight: 500;
}
.staffDesgn {
  user-select: none;
  color: gray;
  line-height: 1.7;
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 350;
  font-size: 1.1rem;
  text-align: left;
}
.staffPrgrph {
  color: #a2a2a2;
  user-select: none;
  line-height: 1.7;
  font-size: 1.1rem;
  font-weight: 300;
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  text-align: left;
}
.staffhhhh {
  -webkit-box-align: center !important;
  align-items: center;
  margin-bottom: 20px;
  box-sizing: border-box;
  display: inline-flex;
}

.staffNames {
  display: block;
  align-self: center;
  display: inline;
}

.item {
  display: flex;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .StaffMainContainer {
    background: #ffffff;
    padding: 2.5em;
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    /* padding-left: auto;
    padding-right: auto; */
  }
  .staffComponent {
    padding-bottom: 25px;
    
  }
}

@media screen and (max-width: 995px) {
  .StaffMainContainer {
    background: #ffffff;
    padding: 2.5em;
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    /* padding-left: auto;
    padding-right: auto; */
  }
  .staffComponent {
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 600px) {
  .item {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .staffComponent {
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 355px) {
  .StaffMainContainer {
    background: #ffffff;
    padding: 2.5em;
    width: 100%;
    padding-left: 50px;
  }
  .item {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .staffComponent {
    padding-bottom: 25px;
  }
  .staffPrgrph {
    color: #a2a2a2;
    user-select: none;
    line-height: 1.7;
    font-size: 1rem;
    font-weight: 300;
    text-align: left;
    width: 80%;
  }

  .staffheader {
    font-size: 1.5rem;
    display: inline-block;
    border-bottom: 4px solid #51be78;
    color: #000;
    font-weight: 500;
    line-height: 1.2;
    /* margin-bottom: 50px; */
    padding-top: 10px;
  }

  .staffName {
    font-size: 1rem;
    display: block;
    margin-bottom: 0;
    color: #000;
    user-select: none;
  }
  .staffDesgn {
    user-select: none;
    color: gray;
    line-height: 1.7;
    font-weight: 350;
    font-size: 1rem;
    text-align: left;
  }
  .item {
    display: flex;
    padding-bottom: 20px;
  }
}

/* Aforizm */
.aforizmContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(24, 54, 97, 0.9);
  z-index: 0;
  box-sizing: border-box;
  height: 100%;
}

.aforizmContainer {
  position: relative;
  background-image: url("./Components/Home/Aforizms/hero_1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 70vh;
  padding: 5rem 0;
  z-index: 1;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}

.aforizmContainer.aforStyle-1 > .aforizmWrapper {
  z-index: 2;
}

.aforizmWrapper {
  line-height: 1.8;
  width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.aforow {
  width: 500px;
  padding: 0 15px 0 15px;
}

.aforizmIcon {
  width: 63px;
  height:63px;
  /* font-size: 65px !important;
  width: 60px; */
}

.afoTitle {
  color: #51be78;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  margin-bottom: 5px;
  font-size: 1.11rem;
}

.afoText {
  color: #7697c6;
  font-family: "Mulish", "Roboto", sans-serif;
  font-weight: 300 !important;
  font-size: 20px;
  line-height: 34px;
  width: 350px;
  padding-top: 20px;
  /* letter-spacing: 1.001px; */
}

@media screen and (max-width: 1200px) {
  .afoText {
    width: 290px;
  }
}

@media screen and (max-width: 990px) {
  .aforizmWrapper {
    line-height: 1.7;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .aforow {
    width: 360px;
    padding: 0 15px 90px 15px;
  }
  .afoText {
    width: 330px;
  }
}

@media screen and (max-width: 768px) {
  .aforizmWrapper {
    line-height: 1.7;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .aforow {
    min-width: 540px;
    padding: 0 15px 90px 15px;
  }
  .afoText {
    width: 453px;
  }
}

/* Why Academics Works */
.info {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}
.infoComp1 {
  width: 1110px;
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
}
.infoImg {
  width: 540px;
}
.infoText1 {
  padding: 0 0 0 125px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.infoTitle1 {
  font-family: "Mulish", sans-serif, "Roboto";
  font-size: 30px;
  font-weight: 550;
  box-shadow: 0 4px 0 #51be78;
  width: 346px;
  padding-top: -15px;
  margin-bottom: 52px;
  letter-spacing: 1.1px;
}
.infoTextWrapper {
  margin-top: -18px;
}
.infoComp2 {
  width: 1110px;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
.infoText2 {
  display: flex;
  align-items: center;
  padding: 0 120px 0 0;
}
.infoTitle2 {
  padding-top: -17px;
  letter-spacing: 1px;
  width: 329px;
}
.infop1 {
  color: #858585;
  font-family: "Mulish", sans-serif, "Roboto";
  font-size: 18px;
  margin-bottom: 17px;
  line-height: 1.7rem;
  letter-spacing: -0.15px;
  font-weight: 300;
}
.infop2 {
  color: #858585;
  font-family: "Mulish", sans-serif, "Roboto";
  font-size: 18px;
  line-height: 1.7rem;
  letter-spacing: -0.15px;
  font-weight: 300;
}
@media screen and (max-width: 1200px) {
  .infoImg {
    width: 450px;
    margin-left: -30px;
  }
  .infoImg2 {
    margin-left: -9px;
  }
  .infoText1 {
    padding: 0 0 0 110px;
    margin-top: 14px;
  }
  .infoComp1 {
    width: 100%;
    margin-bottom: 68px;
    margin-left: 15px;
    display: flex;
    justify-content: center;
  }
  .infoComp2 {
    margin-bottom: 105px;
  }
  .infoText2 {
    margin-top: 10px;

  }
  .infoTitle1 {
    font-size: 30px;
    width: 319px;
    padding-top: -15px;
    margin-bottom: 52px;
    word-spacing: -1px;
    letter-spacing: -0.24px;
  }
  .infop1 {
    width: 370px;
    color: #858585;
    font-size: 18px;
    margin-bottom: 17px;
    line-height: 1.7rem;
    letter-spacing: -0.45px;
    font-weight: 200;
  }
  .infoTitle2 {
    padding-top: -5px;
    letter-spacing: 0.15px;
    width: 310px;
  }
  .infop2 {
    width: 370px;
    color: #858585;
    font-size: 18px;
    line-height: 1.7rem;
    letter-spacing: -0.55px;
    font-weight: 200;
  }
}
@media screen and (max-width: 992px) {
  .infoComp1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 44px;
    margin-left: 4px;
  }
  .infoComp2 {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 95px;
    margin-left: 3px;
  }
  .infoImg {
    width: 690px;
    margin-left: 0px;
  }
  .infoImg2 {
    margin-top: 18px;
  }
  .infoText {
    margin-left: 0px;
  }
  .infoText1,
  .infoText2 {
    padding: 0 0 0 0;
  }
  .infoTitle1 {
    font-family: "Mulish", sans-serif, "Roboto";
    font-size: 30px;
    font-weight: 500;
    box-shadow: 0 4px 0 #51be78;
    margin-bottom: 50px;
    margin-top: 25px;
    letter-spacing: 0.01px;
    width: 323px;
    word-spacing: -0.1;
  }
  .infoTitle2 {
    margin-top: 25px;
    width: 308px;
  }
  .infop1 {
    color: #858585;
    font-family: "Mulish", sans-serif, "Roboto";
    font-size: 17px;
    margin-bottom: 14px;
    line-height: 32px;
    font-weight: 300;
    width: 680px;
    /* letter-spacing: 0.005px; */
    word-spacing: 1.15px;
  }
  .infop2 {
    color: #858585;
    font-family: "Mulish", sans-serif, "Roboto";
    font-size: 17px;
    line-height: 32px;
    font-weight: 300;
    word-spacing: -1.15px;
    letter-spacing: -0.005px;
    width: 690px;
  }
}

@media screen and (max-width: 768px) {
  .infoImg {
    width: 510px;
    margin-left: -1px;
  }
  .infop1,
  .infop2 {
    width: 510px;
  }
  .infoComp2 {
    /* margin-bottom: 40px; */
  }
}

@media screen and (max-width: 576px) {
  .infoComp1 {
    width: 97%;
    display: flex;
    justify-content: center;
    margin-bottom: 55px;
    margin-left: 3%;
  }
  .infoComp2 {
    width: 97%;
    display: flex;
    justify-content: center;
    margin-bottom: 95px;
    margin-left: 3%;
  }
  .infoImg,
  .infoImg2 {
    width: 98%;
    margin-left: 0;
  }
  .infoText1,
  .infoText2 {
    padding: 0 0 0 0;
  }
  .infoTitle1 {
    font-family: "Mulish", sans-serif, "Roboto";
    font-size: 34px;
    font-weight: 400;
    box-shadow: 0 4px 0 #51be78;
    width: 389px;
    margin-bottom: 60px;
    letter-spacing: 1.1px;
  }
  .infoTitle2 {
    font-size: 30px;
    letter-spacing: -0.1px;
    width: 308px;
    word-spacing: 1.5px;
  }
  .infoText {
    margin-bottom: -27px;
  }
  .infop1,
  .infop2 {
    width: 98%;
  }
}
